	//MODERNIZR-SASS - http://github.com/FCOO/modernizr-scss
	@import "../bower_components/modernizr-scss/dist/modernizr-scss";

	//Adjust default options (optional)
	$html-font-size			: 16px;

	$create-FIRST-up		: false; //When true the media query FIRST-up (allway display) and no-FIRST-up (allways hidden) are created
	$create-LAST-down		: false;	//When true the media query LAST-down (allway display) and no-LAST-down (allways hidden) are created

	$mdd-display-value		: '';		// Value for display:... when element is visible. Default = '' => no class created.
	$mdd-incl-no-selector	: true;	// if true classes for 'show-for-no-TEST are included
	$mdd-incl-table-display	: true;	// if true classes for table-elements (TABLE, TR,TD etc.) are included 


	//Adjust default breatpoints (optional)
	$breakpoints: (
	  mini		:    0px,	//Phone portrait
	  small		:  480px,	//Phone landscape
	  medium	:  768px,	//Tablets portrait
	  large		:  960px,	//Table landscape + desktop
	  xlarge	: 1200px	//Large desktop
	);
 
	
	//MODERNIZR-MEDIAQUERY - http://github.com/FCOO/modernizr-mediaquery
	@import "../bower_components/modernizr-mediaquery/src/modernizr-mediaquery";
